@font-face {
  font-family: GuDianMingChaoTi;
  src: url('/fonts/GuDianMingChaoTi.ttf');
  font-weight: bold;
}

@font-face {
  font-family: Iosevka;
  src: url('/fonts/iosevka.ttf');
  font-weight: bold;
}

html {
  font-size:625%;
}

html, body, #root {
  height: 100%;
}

body, p, blockquote, h1, h2, h3, ul, ol, button {
  margin: 0;
  padding: 0;
}

body {
  color: #666;
  font-size: .14rem;
  user-select: none;
  text-shadow: 0 0 1px rgba(0, 0, 0, .2);
  scroll-behavior: smooth;
  font-family: 'Iosevka';
  cursor: url('../img/cursor.cur'), auto!important;
}

a, button {
  cursor: url('./img/cursor_link.cur'), auto!important;
}

body::before {
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: rgba(255, 255, 255, .5);
}

h1, h2, h3, code, a {
  font-family: 'Iosevka', "PingFang SC", "Microsoft YaHei", sans-serif;
}

a {
  color: #666;
  text-decoration: none;
  transition: all 0.25s ease;
}

a:hover {
  color: #faf;
}

/* gitalk */
.gt-comment-content, .gt-header-textarea, .gt-container .gt-avatar img {
  background: rgba(255, 255, 255, .6)!important;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
}

.gt-container a {
  color: #faf!important;
}

.gt-container a:hover {
  color: #f6f!important;
  border-color: #f6f!important;
}

.gt-container .gt-btn {
  color: #eee!important;
  background: #faf!important;
}

.gt-container .gt-btn:hover {
  background: #f6f!important;
}

.gt-container .gt-link {
  border-bottom: 1px dotted #faf!important;
}

.gt-container .gt-header-controls-tip {
  color: #faf!important;
}

.gt-svg svg {
  fill: #faf!important;
}

.gt-ico-github svg {
  fill: #666!important;
}

.gt-container .gt-comment-username {
  color: #f6f!important;
}

.gt-container .gt-comment-content {
  transition: all 0.25s ease 0s, transform 0.5s cubic-bezier( 0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier( 0.6, 0.2, 0.1, 1) 0s!important;
}

.gt-container .gt-comment-body {
  font-size: 15px!important;
}

.gt-container .gt-comment-content:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23)!important;
  transform: translateY(-4px);
}

/* 隐藏滚动条 */
html::-webkit-scrollbar {
  display: none;
}

::selection {
  background: #999;
  color: #fff;
}

::-moz-selection {
  background: #999;
  color: #fff;
}

/* 移动端隐藏 waifu */
@media (max-width: 900px) {
  #live2d {
    display: none;
  }
}
