.archive {
  display: inline-block;
  margin: 0.06rem 0;
  width: 49.2%;
  @media (max-width: 900px) {
    width: 96%;
  }
  .segment {
    border-top-width: 0.02rem;
    border-top-style: solid;
    border-radius: 0.03rem;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.24);
    transition: all 0.25s ease 0s, transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.24);
      transform: translateY(-0.04rem);
    }
    .title {
      padding: 0.12rem 0.16rem;
      overflow: hidden;
    }
    .meta {
      padding: 0.12rem 0.16rem;
      border-top: 1px solid rgba(0, 0, 0, 0.06);
      & > span {
        margin-right: 0.06rem;
        color: #888;
        i {
          margin-right: 0.04rem;
        }
        span {
          padding-right: 0.04rem;
        }
      }
    }
  }
}
